# Node / frontend
frontend/node_modules/
frontend/dist/

# Python / backend & ml
__pycache__/
*.pyc
.venv/
venv/
.env
backend/.pytest_cache/
ml/.pytest_cache/

# ML data & models (если надо исключить локальные веса/дату)
ml/data/
ml/models/
ml/notebooks/.ipynb_checkpoints/

# OS/IDE
.DS_Store
.vscode/
.idea/
